{% extends "layout.html" %}
{% block body %}
    <div class="container">
        <h1>{{ title }}</h1>
        <p class="description">{{ description }}</p>
        <p>Run {{ tests|length }} tests in {{ '%0.2f'| format(time_taken|float) }}s.</p>
        <canvas id="myCamembert">
        </canvas>
        <div class="results">
            <ul>
                {% for test in tests %}
                    <li class="{{ test.state }}">{{ test.abstract }}<br/>
                        <p>{{ test.description }}</p>
                        <p class="state">{{ test.state }}</p>

                        {% if test.state == "FAILED" %}
                            <p>{{ test.failure.type }}: {{ test.failure.msg }}</p>
                            <p><ul>
                                {% for tb in test.failure.tb %}
                                    <li>{{ tb }}</li>
                                {% endfor %}
                            </ul></p>
                        {% endif %}
                        {% if test.state == "ERROR" %}
                            <p>{{ test.error.type }}: {{ test.error.msg }}</p>
                            <p><ul>
                                {% for tb in test.error.tb %}
                                    <li>{{ tb }}</li>
                                {% endfor %}
                            </ul></p>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}